/***
When this CSS is concatenated into concatenated-min.css it lives under web. 
images are under web/common-web/graphics/ Use ./graphics/foo.gif so make_concat can fix pathis correctly
***/

/***
Tom temporary css styles to be put in single css or integrated.  Ask Suz
***/



/** Copied from mb.css **/
h2.arrow {
  display: inline;
  background: #EF7A06;
  padding-left: 8px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  margin-right: 16px;
  color: white;
  font-size: 150%;
  font-weight: normal;

  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

h2.arrow label:after {
  content: "";
  position: absolute;
  /* Pushed down half way, will get pulled back up half height of triangle
     ensures centering if font-size or line-height changes */
  top: 50%;
  width: 0;
  height: 0;
}

h2.arrow label:after {
  right: -12px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 12px solid #EF7A06;
  margin-top: -6px;
}

h3.arrow {
  display: inline;
  background: #EF7A06;
  padding-left: 8px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  margin-right: 16px;
  color: white;
  font-size: 150%;

  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

h3.arrow label {
                 background-image:url("./graphics/harmony/icon_books.png");
                 background-position:0 50%;
                 background-repeat:no-repeat;
                 padding-left:24px;
}

h3.arrow label:after {
  content: "";
  position: absolute;
  /* Pushed down half way, will get pulled back up half height of triangle
     ensures centering if font-size or line-height changes */
  top: 50%;
  width: 0;
  height: 0;
}

h3.arrow label:after {
  right: -12px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 12px solid #EF7A06;
  margin-top: -6px;
}

/** end Copied from mb.css **/





/** copied from HT Catalog **/
ol, ul {
         list-style:none outside none;
}

img, a img {
             border:medium none;
}

ul.filters li {
                text-indent:-20px;
}

ul li, ul.menu li, .item-list ul li, li.leaf {
                                               list-style-image:none;
                                               list-style-type:none;
                                               }



.narrow dd {
/**suz change**/
             padding:0.2em 0.2em 0.5em;
             color:#999999;
/**  }
make it all one style for now  no separate navmenu
.navmenu dd {
**/
              border-bottom:1px solid #E3E3E3;
              list-style-type:none;
              padding:0.1em 0 0.1em 0.5em;
              }


dl dd {
        margin:0 0 0.5em 1.5em;
        }

dt {
/**suz change**/  
   font-weight:bold;
     margin-top:0.75em;
     margin:1em 0.3em 0;
}

.ls_box
{ 
  background-color:#FFFFFF;
  border:1px solid #CCCCCC;
  font-size:85%;
  margin-left:15px;
  margin-bottom:2.5em;
  margin-top:11px;
  padding:5px;
  padding-top:15px;

} 


/** end of bunch of stuff copied from HT Vufind **/

.NoResultsLS
{  
  margin: 20px 5px 2px 2px;
  border:5px ;
  font-size:85%;
 
}

 
.NoResultsLS li 
{  

  list-style-type:disc;
}

/** temporary.  Need to change id of this div unless javascript is useing it.  In catalog similar region named searchbox **/
#main
{
  width:100%;
  height:6em;
  line-height:1em;
  padding:10px 15px 20px 0;
  color:#333333;
/** suz ls change**/
/** uncomment this to check that this is included in pt and cb:  background-color:#0000FF;**/
/**   background-color:#0000FF;**/
/** suz remove  border:1px solid #CCCCCC **/
}

#lsSidebarContainer
{ 
  float: left;
  position: relative;
/**suz change**/
/**  width:27%;**/
  width:225px;
}

.selectedfieldname
{ 

  font-weight: bold;
} 


li.URHere
{  
  background-color:#FFF;
}

/** temp to see if css is working**/
*.showfacet
{ 
  color: red;
  }
*.hidefacet
{ 
  display: none;
  visibility: hidden;
}
a.morefacets{ 
             color:red; 
 } 
a.lessfacets,a.lessfacets:active{ 
             color:red; 
/**  display: none;
  visibility: hidden;**/
 }

.facet{ 
       color: red;
} 

.narrow
{ 
  padding:5px;

} 

#selectedFacets
{ 
 
  border:1px solid #EBECE4;
  padding:5px;
  background-color:#FAFAFA

 /**
  width:auto;
  padding:5px 5px 5px 50px;
**/
 

} 


.removeFacetIcon
{  
  position:relative;
  top:3px;
  padding-right:3px;
}

 
/** end tom temp files **/
.PTerror 
{
  background:#FEEEEE url(./graphics/icon_x.gif) no-repeat scroll 15px 50%;
  border:1px solid #FF4040;
  color:#000000;
  margin:10px 0pt 0px 10px;
  padding:5px 5px 5px 50px;
  width:50em;
  }

.LSerror 
{
  background:#FEEEEE url(./graphics/icon_x.gif) no-repeat scroll 15px 50%;
  border:1px solid #FF4040;
  color:#000000;
  margin-top:10px;
  margin-bottom: 10px;
  margin-right:10px;
  margin-left:10px;
  padding:10px 5px 5px 50px;
 width:100%;

  }

/* === Hathi Trust Color Key === 

bright orange: #ef7a06 (logo)
med orange: #c4630f (links)

Gray 1:#494949
Gray 2:#777777
Gray 3:#bbbbbb
Gray 4:#e2e2e2
Gray 5:#eeeeee
Gray 6:#fafafa (light background)

Link styles:
Embeded links should use border-bottom on :link & :hover
Navigational links should only have border-bottom on :hover
*/

/* ==========+++++ MASTER Styles used by ALL (or most) pages +++++==========hi */

/* Debug and Dev styles */
.debug {
  display: none;
  visibility: hidden;
  color: red;
  font-size: 14pt;

}

.UInote {
  color: #f50088;
}

.IndexMsgSearchWidget { 
 display: none;
 /*** color:red;
  float: left;
  font-size: .75em;
  position: relative;
  padding-right: 5px;***/
} 

#DlpsDev { 
  visibility:hidden;
  display:none;
}

/* Basic Styles */

body {
  color: #333333;
  font-size: 90%;
/**orig:  background-color: #FAFAFA;**/
/** suz ls change**/
  background-color: #FAFAFA;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  line-height: 1.2em;
	min-width: 1000px;
	width: 100%;
	padding: 0px;
  margin: 0px;
}

#mbMasterContainer {
	width: 100%;
	margin: 0 auto;
	min-width: 1000px;
}

p {
  margin: 0 0 8px 0;
}

h1 {
  color: #333333;
  font-size: 1.3em;
  margin: .75em 0 .5em 0;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 0;
  color:#333333;
}

h3 {
  /**suze change**/
     font-weight:normal;
     font-size:130%;
/**     font-size: 0.95em;**/
  margin: 0;
  padding-bottom: 2px;
}

br {
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

img a {
  text-decoration: none;
  border-bottom: 0;
}

.clear {
  clear: both;
}

ul.bullets li {
  list-style-type: disc !important;
  border: none !important;
  padding: 0 0 4px 0 !important;
  margin:0 0 0 25px !important;
  font-size: 1.2em;
}

a:link, a:visited {
  color: #c4630f;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #ef7a06;
  text-decoration: underline;
}

a.inlineLink:link, a.inlineLink:visited, 
.mbHomeContainer a:link, .mbHomeContainer a:visited,
#HelpContent a:link, #HelpContent a:visited {
  color: #777777;
  text-decoration: underline;
}

a.inlineLink:hover, a.inlineLink:focus, a.inlineLink:active, 
.mbHomeContainer a:hover, .mbHomeContainer a:focus, .mbHomeContainer a:active,
#HelpContent a:hover, #HelpContent a:focus, #HelpContent a:active {
  color: #ef7a06;
  text-decoration: underline;
}

#masthead, #CBNav, #mbContentContainer, #SubNavHeaderCont {
  margin: 0 auto;
  width: 96%;

}

#mbContentContainer {
	_width: 1000px;
	_margin-left: 10px;
}

/* use to hide code from display but NOT screenreaders */
.SkipLink, .SearchLabel, .offscreen {
  position: absolute;
  left:     -10000px;
  top:      auto;
  width:    1px;
  height:   1px;
  overflow: hidden;
}

/* use to hide code from display AND screenreaders */
.hidden {
  visibility:hidden;
  display:none;
  padding: 0;
  margin: 0;
  font-size: 0.1em;
}


td.ItemData ul li {
  display: inline;
  float: left;
  list-style-type: none;
  margin-right: 20px;
}
/* Full-text & view only icons */

.viewonly {
  padding-left: 20px;
  background: transparent url(./graphics/Icon_SearchOnly.png) no-repeat center left;
}

.fulltext {
  padding-left: 20px;
  background: transparent url(./graphics/Icon_FullText.png) no-repeat center left;
}

.cataloglinkhref {
  padding-left: 20px;
 /** Suz says use same one as HT catalog 
    background: transparent url(./graphics/icon_information_lt.png) no-repeat center left;**/
  background: transparent url(./graphics/icon_information.png) no-repeat center left;
}

/* Used on list_items & search results to show which collection you're currently viewing */
.MBooksCol {
  font-size: 1.1em;
  font-weight: normal;
  position: relative;
  float: left;
	top: 3px;
}

.colName {
  color: #ef7a06;
}

/*add underline if colName is a hyperlink */
a .colName {
  color: #ef7a06;
  text-decoration:underline;               
}


/* Special Messages */
.error, .alert, .infoAlert {
	padding: 5px 5px 5px 40px;
  margin: 15px;
  width: auto;
  color: #000;      
}

.error { 
  background: #feeeee url(./graphics/icon_x.gif) no-repeat scroll 15px 50%;
  border: 1px solid #ff4040;
} 

.alert {
  background: #e2f8d6 url(./graphics/icon_check.gif) no-repeat scroll 15px 50%;
  border: 1px solid #b9cbaf;
}

.infoAlert {
  background: #fae496 url(./graphics/icon_info.gif) no-repeat scroll 15px 50%;
  border: 1px solid #fc6;
}

.alert span.undo {
	margin-left: 20px;
}

.loginpromt {
  padding: 5px;
  margin: 20px;
  width: 500px;
  color: #000;
  border: 1px solid #fc9;
  background-color: #feeeee;
  position: relative;
  clear: left;
  font-size: 1.1em;
}

.loginpromt span {
  font-weight: bold;
}

/* New Collection Widget */
.overlay { 
	font-size: 100%; 
	font-family:Arial;  
}		

/*Same as yui default style for panels but without borders */
.yui-skin-sam .yui-panel .hd, 
.yui-skin-sam .yui-panel .bd, 
.yui-skin-sam .yui-panel .ft {
       border-color:#808080;
       border-style:solid;
       border-width:0pt 0px;
       margin:0pt -1px;
}

/*Style for loading message displayed durnig AJAX calls*/
#loading {
  background-color:white;
  border-color:#808080;
  border-style:solid;
  border-width:1pt 1px;
  color:red;
}

/* Style for special access message in pageviewer.xsl */
.accessBanner {
  background-color: #fce9a8;
  color: #000000;
  text-align: center;
  padding: 6px 0px;
  font-size: 1.2em;
  line-height: 1.2em;
}

/* Boxy-related */
/* Style for special access message close button in pageviewer.xsl */
.accessBannerClose {
  background-color: #faeec7;
  font-weight: bold;
  color: #C4630F;
  border-style: solid;
  border-width: 1px;
  padding: 0px 3px 0px 3px;
}
.accessBannerCloseText {
  color: #C4630F;
}

/* over-ridden to 300px in mobilept.css to fit device */
.accessBannerText {
  width: 400px;
}

.accessBannerClose:hover {
  background-color: #f9f5e6;
  text-decoration: none
}

/* Boxy pop-up custom CSS */
.boxy-wrapper .title-bar h2, 
.boxy-wrapper .title-bar .close {
  font-size: 1.25em;
}

.boxy-wrapper .title-bar{
  text-align: left;
}
.boxy-wrapper .title-bar a {
 text-decoration: none
}

/*========== Header ==========*/

#mbHeader {
  width:100%;
  background-color: #fff;
  border-top: 5px solid #494949;
  /*background: url(./graphics/stripe_bkg.png) repeat-x;*/
  height: 125px;
}

#masthead {
  height: 55px;
  padding: 0;
}

.branding {
  float: left;
  position: relative;
  height: 55px;
  left: 0;
  /*background: red;*/
  width: 50%;
}

.brandingLogo {
  height: 51px;
  margin-top: 4px;
}

#brandingLabel {
  background-image: url(./graphics/HathiTrust.gif);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  float: left;
  width: 145px;
  height: 47px;
  position: relative;
  top: 0;
  left: 0;
  text-indent: -1000px;
  clip: rect(0, 0, 0, 0);
  /* the following for IE */
  text-transform: capitalize;
  zoom: 1;
  *display: inline;
  _height: 47px;
  _width: 145px;
}

.brandingLogo span {
  position: relative;
  color: #6a6b6e;
  font-size: 1.7em;
  display: block;
  float: left;
  height: 47px;
  line-height: 1.9em;
  left: 10px;
}

.brandingLogo a {
  text-decoration: none;
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

/* Fixme:suzchap don't need now?
.brandingLinks {
  position: relative;
  top: 20px;
  font-size: 1.2em;
	height: 30px;
	overflow: visible;
	float: left;
}

.brandingLinks a {
  height: 1.4em;
}

.brandingBeta {
  float: left;
  position: relative;
  top: 8px;
  display: none;
}

*/





.MBooksNav {
  float: right;
  font-size: .75em;
  position: relative;
  font-size: .85em;
  color: #eeeeee;
  background: #494949 url(./graphics/corner_left.png) no-repeat left bottom;
  padding-left: 3px;
}

.MBooksNav ul {
  list-style-type: none;
  margin: 0 0 0 5px;
  padding: 0;
}

.MBooksNav ul li {
  display: inline;
  text-align: center;
  padding: 0;
  margin: 0;
  float: left;
}

.MBooksNav ul li a {
  padding: 5px 8px 7px;
  line-height: 18px;
  color: #eeeeee !important;
}

/* CB nav */

/*links for navigating collection builder functionality */

#helpWidget {
  text-align:left;
}

#CBNavContainer {
  height: 35px;
  background: #666 url(./graphics/grayGradient.gif) repeat-x scroll 0 0;
  border-bottom: 3px solid #E2E2E2;
  border-top: 1px solid #C9C7B8;
  height: 30px;
}

#CBNav {
}

#CBNav #selected {
  background-color:#E2E2E2;
}

#CBNav #selected a {
  color:#333333;
  border-bottom: 0px;
}

#CBNav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#CBNav ul li {
  display: inline;
  height: 30px;
  text-align: center;
  padding: 0;
  float: left;
}

#CBNav ul li a {
  padding: 5px 10px 7px;
  float: left;
  font-size: 1.1em;
  padding: 5px 10px 7px;
  line-height: 18px;
  color: #FAFAFA;
}

#CBNav ul li a:hover {
  padding: 5px 10px 7px;
  background-color: #E2E2E2;
  color: #333333;
}

#CBNav select {
  margin-right: 10px;
  position: relative;
  top: 3px;
}

body#PubCollPage li#PubCollLink {
    background-color: #E2E2E2;
}

body#PubCollPage li#PubCollLink a {
    background-color: #E2E2E2;
    color: #333333;
}

body#PrivCollPage li#PrivCollLink {
    background-color: #E2E2E2;
}

body#PrivCollPage li#PrivCollLink a {
    background-color: #E2E2E2;
    color: #333333;
}

#jumpToColl {
    margin-left: 5px;
}

/* Subnav HEADER */

#SubNavHeader {
  position: relative;
  display: inline;
  width: 100%;
  background-color: #e2e2e2;
  height: 1.5em;
  color: #333333;
  font-size: 1.0em;
  float: left;
  border-bottom: 2px solid #ddd;
  clear: right;
  padding: 5px 0;
}

#SubNavHeader h1 {
  padding: 0;
  margin: 0 0 0 10px;
  font-size: 1.1em;
  font-weight: normal;
}

#SubNavHeader h2 {
  padding: 0;
  margin: 0 0 0 10px;
  font-size: 1.1em;
  font-weight: normal;
}

#SubNavHeader form {
  padding: 0;
  margin: 0;
  font-size: 1.0em;
  font-weight: normal;
}

#SubNavHeaderCont {
	position: relative;
}

.newCol {
  position: relative;
  float: left;
	margin-left: 20px;
}

.CollPage {
  position: relative;
  float: left;
}

.mainsearch {
  position: relative;
  float: left;
  top: 1px;
  margin: 14px 0 30px 20px;
}

/*.mainsearch h2 {
	padding: 0;
	margin: 0;
	display:inline;
	font-size: 1em;
	font-weight: normal;
}*/

.SearchAndRefine {
  clear: both;
}

/*========== Footer ==========*/

#mbFooter {
  clear: left;
  background-color: #777777;
  color: #FFF;
  width: 100%;
  float: left;
  height: 40px;
  margin-top: 50px;
	border-top:3px solid #6a6a6a;
}

#mbFooter a {
  color: #FFF;
}

#FooterCont {
  margin: 0 auto;
  width: 96%;
	clear: left;
}

.footerBrandingLinks {
  float: left;
  font-size: .9em;
  font-weight: normal;
  font-style: italic;
}

.footerBrandingLinks span {
  font-size: 1em;
  font-style: normal;
}

.footerBrandingLinks a {
  color: #FFF;
}

/* fixme:suz don't need anymore?
.footerBrandingLinks img {
  position: relative;
  top: 6px;
  margin-right: 8px;
}*/

#mbFooter .MBooksNav {
  background: none;
  color: #FFF;
  position: relative;
  top: 12px;
}

/* ==========+++ Styles only used on specific pages +++========== */

/* ===== Home page styles ===== */

.mbHomeContainer {
  margin: 0 auto;
  width: 96%;
	_margin-left: 10px;
	_float: left;
}

#homeContent {
}

.mbHomeContainer h3 { 
  font-weight:bold;
  font-size: 1.1em;
  color:#7e7e7e;
  padding: 0;
} 

.mbHomeContainer ul {
  margin: 0;
  padding: 0;
}

.mbHomeContainer ul li {
  list-style-type: none;
  margin: 2px 10px 2px 10px;
  padding: 5px 0;
	border-bottom: 1px dotted #CCC;
}

#centercontent {
  float: left;
  width: 65%;
  margin: 10px 20px 0 10px;
}

#centercontent h2 {
  border-bottom: 1px solid #CCC;
  margin-top: 0;
}

.HomeCenterContent {
	float: left;
	margin: 5px 0 15px 0;
	padding: 10px;
	clear: right;
}

.HomeCenterContent h2 {
  margin: 3px 0 5px 0;
}


#Content {
  background-color: #FFF;
}

#start_1, #start_2 {
	float: left;
	width: 42%;
	margin: 10px;
	_width: 40%;
}

#start_or {
  width: 5%;
  float: left;
  margin: 10px;
  font-size: 1.3em;
}

#start_1 span, #start_2 span {
	float: left;
	margin: 5px 10px 10px 0;
	font-size: 2em;
	color: #ef7a06;
}

#rightcontent {
  position: relative;
  float: left;
  width: 30%;
  font-size: 0.9em;
}

#RecentlyAdded, #Schedule, #FeaturedItem, #MBooksNews, #blogLinks {
  clear: left;
  padding: 0;
  margin: 10px 0;
	border: 1px solid #eee;
	background-color: #FFF;
}

#rightcontent h2 {
	background-color: #eee;
	margin: 0 0 10px;
	padding: 3px;
	font-weight: normal;
	letter-spacing: 0.5px;
	_width: 100%;
}

#FeaturedItem img {
  float: left;
  border: 2px solid #fafafa;
  margin: 3px 8px;
}

#FeaturedItem p {
  padding: 0 5px 5px 5px;
}

#Schedule strong {
	color:#ef7a06;
}


#Blog span {
	font-style: italic;
}

.rss-title, rss-title a {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 1.2em;
}

.rss-items {
  margin-left: 0em;
  padding-left: 1em;
}

li.rss-item  {
  font-family: verdana, arial, sans-serif;
  font-weight : normal; 
  font-size: 70%;
  margin: 0px 0;
  border-bottom: 2px dotted #CCC;
  list-style: none;
  padding-top: 8px;
}

.rss-item a:link, .rss-item a:visited, .rss-item a:active {
  font-size: 1.4em;
	border-bottom: 1px dotted #777777;
	text-decoration: none !important;
}

.rss-item a:hover {
	border-bottom: 1px dotted #ef7a06;
	text-decoration: none;
}

.rss-date {
  font-weight : normal;
  color: #777777;
}

.rss-item div {
  border: none;
}

/* ===== HELP PAGE ===== */

.mbHelpContainer a {
  text-decoration: underline;
}

.HelpSection {
  margin: 20px 0 30px 10px;
	clear: left;
}

.indexHead {
  font-weight: bold;
}

.question {
  font-style: italic;
}

/* ===== list_colls.xsl ===== */

.mbColListContainer {
  float: left;
}

.ColList {
  width: 64em;
  margin: 1.5em;
}

.colheader img {
  border: 0;
}

.colheader a {
  color: #777777;
  text-decoration: underline;
}

.colheader a:hover {
  color: #ef7a06;
}

ul.row {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 2px 0 3px 0;
  height: 1.4em;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

ul.colheader {
  font-weight: bold;
  background-color:#eeeeee;
  color: #333333;
}

ul.roweven {
  background-color:#fff;
}

ul.rowodd {
  background-color:#fafafa;
}

ul.row li {
  list-style-type: none;
  padding: 0px;
  float: left;
}

ul.row li.CollName {
  width: 25em;
	text-align:left;
}

ul.row li.CollName a {
	padding-left: 8px;
}

ul.colheader li.CollName {
	text-align: center;
}

ul.row li.CollId {
  width: 5em;
}

ul.row li.Action {
  width: 10em;
}

ul.row li.NoItems {
  width: 3.5em;
}

ul.row li.Access {
  width: 10em;
}

ul.row li.Owner {
  width: 12em;
}

ul.row li.Search {
  width: 15em;
}

li.clr {
  list-style-type: none;
  clear: left;
  margin: 0px;
  height: 0px;
  width: 1px;
	_clear: none;
}

br.clr {
  clear: left;
}

/* ===== list_items.xsl ===== */

/* refine tabs */
.refine {
  position: relative;
  top: 11px;
  width: 99%;
}

.refine img {
  position: relative;
  top: 2px;
  margin: 0 2px 0 8px;
}

.refine span {
  float: right;
}

ul.refineTabs {
	margin: 0;
	padding: 3px 10px;
	color: #333;
	width: 25em;
	position: relative;
}

ul.refineTabs li {
	display: inline;
	margin-right: 8px;
}

ul.refineTabs li a {
	background-color: #eeeeee;
	position: relative;
	border-color: #CCC;
	border-style: solid solid none;
	border-width: 1px 1px medium;
	padding: 3px 4px;
	text-decoration: underline;
}

ul.refineTabs li.active {
	background-color: #FFF;
	position: relative;
	border-color: #CCC;
	border-style: solid solid none;
	border-width: 1px 1px medium;
	padding: 3px 4px 3px 20px;
	_padding: 6px 4px 0px 20px;
	z-index: 1;
}

ul.refineTabs li.inactive a {
  background-color: #E2E2E2;
}



ul.refineTabs li.active .viewall {
  padding: 3px 4px;
}

li.inactive a.fulltext {
	padding: 3px 4px 3px 20px;
}

li.viewall {
	padding: 3px 4px !important;
}

/* List Items Container */

.mbListItemsContainer {
	
}
/*tbw XXX */
#ColContainer.ls
{ 
  float:left;
  width: 68%;
} 
#ColContainer {
  position: relative;
  float: left;
  margin: 10px 0 10px 10px;
  width: 100%;
}

/* List Items Left side options */

.ColSidebar {
  float:left;
  width: 160px;
  font-size: .9em;
  margin-right: 10px;
  color: #333;
  overflow: hidden;
}

.editOwned { 
	margin: 0;
	padding: 0 0 4px 0;
	font-weight: normal;
	border: 1px dotted #ccc;
}

.ColSidebar h3 {
  padding: 5px;
  color: #333;
  font-weight: bold;
	font-size: 1.1em;
	background-color: #eeeeee;
  margin-bottom: 8px;
}

.editOwned .colNameLabel, .editOwned .colDescLabel{ 
  font-size: 1em;
  font-weight: bold;  
} 

.editViewOnly .colNameLabel,.editViewOnly  .colDescLabel { 
  font-size: 1em;
  font-weight: bold;  
  padding: 5px 5px 10px 5px;
}

.colDesc {  
  font-weight: normal;
}

#ColDescEdit, #ColNameEdit {
  font-family: arial, sans-serif;
  font-size: 1em;
}

.formElement {
  margin: 7px 5px;
}

.Link img {
  border:0;
  text-decoration: none;
}

.ownerLink {
  padding: 5px 5px 10px 5px;
}

/* List Items - List, pagination, copy/move */

.ColContent {
  background-color: #FFF;
  border: 1px solid #ccc;
  float: left;
  width: 82%;
}

/* List Items - Collection action section (select col, move, copy, delete) */

.actions {
  float: left;
  padding: 20px 10px;
  width: 95%;
}

/* 1st Row: Sort & Pagination */

#actionsRow1 {
  padding-bottom: 10px;
  width: 100%;
}

#SortWidget {
  float: left;
  padding-right: 30px;
}

.PageInfo { 
  margin: 0 1em .5em 0em;
  overflow: hidden;
}

#PageInfo { 
  margin: 0 1em .5em 0em;
  overflow: hidden;
}


.resultsPerPage {
  position: relative;
  float: left;
}

#resultsPerPage {
  position: relative;
  float: left;
}


.pagingNav {
	margin-left: 10px;
}

.PageWidget { 
  list-style-type: none;
  margin: 0 0 0 2em;
  padding: 0;
} 

#PageWidget { 
  list-style-type: none;
  margin: 0 0 0 2em;
  padding: 0;
} 

.PageWidget li {
/** Suz says change this to match ht catalog
  border: 1px solid #CCC;
  float: left;
  line-height: 1.1em;
  margin: 0 0 0 0.3em;
  padding: 0 .5em 0 .5em;
**/
  float: left;
  line-height: 1.1em;
  margin: 0 0 0 0.3em;
  padding:0.2em 0.3em;
                 
}


#PageWidget li {
/** Suz says change this to match ht catalog
  border: 1px solid #CCC;
  float: left;
  line-height: 1.1em;
  margin: 0 0 0 0.3em;
  padding: 0 .5em 0 .5em;
**/
  float: left;
  line-height: 1.1em;
  margin: 0 0 0 0.3em;
  padding:0.2em 0.3em;
                 
}


.greyedOut { 
  color: gray;
}

.URHere {
  color: #000000;
  font-weight: bold;
  background-color: #eeeeee;
}

/* 2nd Row: Copy, move, delete */

#actionsRow2 {
  padding: 8px;
  background-color:#dbdbdb;
}

.selectAll {
  float: left;
  padding-right: 15px;
  padding-top: 5px;
}

.SelectedItemActions select {
  width: 250px;
  margin-right: 8px;
}

/*#movit, #copyit {
  padding:0 .25em 0 .25em;
  width:auto;
  overflow:visible;
  margin-right: 5px;
}

#delit {
  padding:0 .25em 0 .25em;
  width:auto;
  overflow:visible;
}*/

/* Item Table */

table.itemTable {  
  width: 100%;
  margin: 0;
  font-size: 1em;
}

/** Suz email 7/12/11 **/
.itemTable a {
/**  text-decoration: underline;**/

}

.itemTable tr.rowodd {
  background-color:#fafafa;
}

.itemTable tr.roweven {
  background-color:#FFF;
}

.itemTable td {
  padding: 5px
}

td.ItemSelect {
  width: 1%;
  vertical-align: top;
}


td.ItemData { 
  vertical-align:top;
  width:70%;
} 

/** accessibility to make h4 title normal tbw**/
h4.iTitle {
            font-weight:normal;     
            display:inline;
            

}



.ItemTitle {
/**suz change**/
  line-height:1.3em; 
 font-weight: normal;
  font-size: 1.15em;
}


.ItemAuthor, .ItemDate { 
/**suz change**/
 line-height:1.5em;                         
 text-indent:3%;
 font-size: .9em;
 color: #666;
} 

.itemTable ul {
  padding-left: 20px;
}

/*.Rights {
  margin-top: 8px;
}*/

td.ItemCollections {  
  width:25%;
}

.ItemCollectionsLabel {
  font-weight: bold;
}

ul.inMyColls {
  list-style-type: none;
  margin: 0;
  padding-left: 0.5em;
  text-indent: -0.5em;
}

ul.inMyColls li {
  line-height: 1.2em;
}

span#currCollName {
  color: #ef7a06;
  margin: 0;
  padding: 0;
}

#listisFooter #PageInfo { 
  margin: 10px 0 0 0;  
  padding: 0;
  border: none;
}

/* ===== Search Results ===== */

.mbSearchResultsContainer .ColContent {
  margin: 0;
  width: 96%;
}

.SearchResults_status {
  position: relative;
  font-size: 1.2em;
  color: #333333;
  margin:0;
  padding:0 5px 20px;
 /** margin: 2px 0  2px 0;**/
/**  padding: 10px 5px 10px 5px;**/
                        
}

.SearchResults_status span {
  font-weight: bold;
}

.mbSearchResultsContainer .itemTable thead {
  background-color: #e7ecf0 ;
}

.mbSearchResultsContainer .itemTable tr.rowodd {
  background-color: #fafafa;
}

/*TEMP BETA SEARCH styles*/

.betasearch {
  margin: 20px 0 0 8px;
}

.betasearch p {
  margin:10px;
}


#LSformCont {
  position: relative;
  left: 10px;
  top: 4px;
}

#LSformCont button {
  margin-left: 10px;
}

.betasearchbox {
  font-size: 1.2em;
  font-weight: bold;
  padding: 20px 5px 10px 5px;
}

.betasearchinfo {
  margin-top: 50px;
}

.betasearchinfo h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 0;
  color:#333333;
}

img#betaburst {
  float:left;
  position:relative;
  top:-20px;
}

img.SearchArrow {
  float:left;
}

/*For mdpFeedback*/

   #feedback {
        padding:10px;
    }


    #formWidget .bd {
        overflow:auto;
        height:360px;
        padding:10px;
    }

    #mdpFBError .bd {
        height:auto;
    }

    #formWidget .ft {
        height:15px;
        padding:0;
    }

    #formWidget .yui-resize-handle-br {
        right:0;
        bottom:0;
        height: 1px;
        width: 1px;
        position:absolute;
    }

    /*  
        The following CSS is added to prevent scrollbar bleedthrough on
        Gecko browsers (e.g. Firefox) on MacOS.
    */

    /*
        PLEASE NOTE: It is necessary to toggle the "overflow" property 
        of the body element between "hidden" and "auto" in order to 
        prevent the scrollbars from remaining visible after the the 
        Resizable Panel is hidden.  For more information on this issue, 
        read the comments in the "container-core.css" file.
       
        We use the #reziablepanel_c id based specifier, so that the rule
        is specific enough to over-ride the .bd overflow rule above.
    */

/* fixme: suz's attempts to fix the IE pageturner feedback/bib section bug*/
    #formWidget_c {
      position:absolute;
      z-index: 1000 !important;
    }

    .yui-panel {
      z-index: 1000 !important;
    }
    
    #SubNavHeader {
      z-index: auto !important;
    }
/*end attempted fix*/


    #formWidget_c.hide-scrollbars .yui-resize .bd {
        overflow: hidden;
    }

    #formWidget_c.show-scrollbars .yui-resize .bd {
        overflow: auto;
    }

    /*
        PLEASE NOTE: It is necessary to set the "overflow" property of
        the underlay element to "visible" in order for the 
        scrollbars on the body of a Resizable Panel instance to be 
        visible.  By default the "overflow" property of the underlay 
        element is set to "auto" when a Panel is made visible on
        Gecko for Mac OS X to prevent scrollbars from poking through
        it on that browser + platform combintation.  For more 
        information on this issue, read the comments in the 
        "container-core.css" file.
    */

    #formWidget_c.show-scrollbars .underlay {
        overflow: visible;
    }
    
/* Special Occasion styles */

#surveylink {
  float: right;
  padding-right: 10px;
}

#LSsearch {
  float: right;
  clear: right;
  padding-top: 8px;
}

.footnoteMsg {
  margin-top: 10px;
}
